<div id="comments-list">
  {{# commentDtos}}
  <div class="card">
  <div class="card-header">
	{{nickname}}
	&nbsp;&nbsp;
	<button type="button" data-id="{{id}}" data-article-id="{{articleId}}" class="btn btn-sm btn-outline-primary">수정</button>
	<button type="button" class="btn btn-sm btn-outline-danger comment-delete-btn">삭제</button> ({{id}}, {{articleId}})
  </div>
  <div class="card-body">
	{{body}}
  </div>
</div>
  {{/commentDtos}}
</div>	